.about {
  padding-top: 120px;
  padding-bottom: 120px;
  background: #f8f9fc;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.about h2 {
  margin: 0;
  font-family: $ff-alumni;
  font-weight: 600;
  font-size: 54px;
  line-height: 54px;
  margin-bottom: 51px;
  letter-spacing: 0.1rem;
  color: #102654;
}

.about__main {
  display: flex;
  column-gap: 40px;
}

.about__controls {
  list-style: none;
  font-size: 18px;
  line-height: 18px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin: 0;
  padding: 0;

  button {
    color: #102654;
    background-color: transparent;
    padding: 18px 48px;
    text-align: center;
    width: 260px;
    border: 1px solid rgba(16, 38, 84, 0.2);
    cursor: pointer;



    @include hover-focus {
      @media (hover: hover) {
        &:hover:not(.focus-visible) {
          border: 1px solid rgba(16, 38, 84, 1);
        }
      }
    }

    &[disabled] {
      opacity: 0.5;
      pointer-events: none;
    }
  }
}

button.is-active{
  background: var(--1, linear-gradient(97deg, #ED0233 17.6%, #003EB7 95.31%));
  color: $color-default-white;
}



