.accordion {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #F8F9FC;

  &__element {
    border-top: 2px solid rgba(28, 51, 116, 0.2);
    width: 860px;
    position: relative;

    @include vp-767 {
      width: 100%;
      border: none;

      &:after {
        position: absolute;
        content: "";
        width: 100%;
        height: 1px;
        background: rgba(28, 51, 116, 0.2);
        top: 0;
        left: 0;
      }
    }

    &--last {
      border-bottom: 1px solid rgba(28, 51, 116, 0.2);

      button {
        @include vp-1365 {
          padding-top: 23px;
          padding-bottom: 22px;
        }
      }
    }
  }

  &__button {
    cursor: pointer;
    border: none;
    padding: 0;
    padding-top: 33px;
    padding-bottom: 32px;
    width: 100%;
    background-color: #F8F9FC;

    @include vp-1365 {
      padding-top: 35px;
    }

    @include vp-767 {
      padding-top: 22px;
      padding-bottom: 22px;
    }

    &:before {
      position: absolute;
      content: "";
      width: 20px;
      height: 1px;
      background-color: #102654;
      top: 45px;
      right: 10px;
      cursor: pointer;
      z-index: 1;

      @include vp-1365 {
        right: 191px;
        top: 41px;
      }

      @include vp-767 {
        right: 8px;
        width: 14px;
        top: 43px;
      }
    }

    &:after {
      position: absolute;
      content: "";
      width: 20px;
      height: 1px;
      top: 45px;
      right: 10px;
      cursor: pointer;
      background-color: #102654;
      z-index: 1;
      transform: rotate(90deg);

      @include vp-1365 {
        right: 191px;
        top: 41px;
      }

      @include vp-767 {
        right: 8px;
        width: 14px;
        top: 43px;
      }
    }

    @include hover-focus {
      @media (hover: hover) {
        &:hover:not(.focus-visible) {
          span:after {
            background-color: #102654;
          }

          &:before {
            background-color: $color-default-white;
          }

          &:after {
            background-color: $color-default-white;
          }
        }
      }

      &.focus-visible:focus,
      &:focus-visible {
        &:before {
          background-color: $color-default-white;
        }

        &:after {
          background-color: $color-default-white;
        }
      }
    }

    span {
      display: flex;
      justify-content: left;
      font-size: 24px;
      line-height: 24px;
      font-weight: 400;
      color: #102654;
      margin: 0;

      br {
        display: none;
      }

      @include vp-1365 {
        font-size: 22px;
        line-height: 22px;
        display: block;
        text-align: left;

        br {
          display: block;
        }
      }

      @include vp-767 {
        width: 230px;
        font-size: 20px;
        line-height: 20px;
      }

      &:after {
        position: absolute;
        content: "";
        width: 40px;
        height: 40px;
        top: 25px;
        right: 0;
        border-radius: 50%;
        z-index: 0;
        border: 1px solid #102654;

        @include vp-1365 {
          right: 182px;
          top: 22px;
        }

        @include vp-767 {
          width: 30px;
          height: 30px;
          right: 0;
          top: 29px;
        }
      }
    }
  }

  &__content {
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    color: #102654;
    width: 650px;
    max-height: 0;
    overflow: hidden;
    transition: 0.5s;
    margin-top: -22px;
    margin-bottom: 22px;

    @include vp-1365 {
      width: 550px;
    }

    @include vp-767 {
      font-size: 16px;
      line-height: 20px;
      width: 100%;
      padding-right: 12px;
      margin-top: 0;
      margin-bottom: 19px;
    }
  }
}

.accordion__element.is-active {
  button {
    &:after {
      display: none;
    }

    &:before {
      background-color: $color-default-white;
    }

    span {
      &:after {
        background-color: #102654;
      }
    }
  }
}
