.footer {
  background-color: rgba(3, 10, 26, 1);
  padding-top: 35px;
  padding-bottom: 37px;

  @include vp-1365 {
    padding-top: 39px;
    padding-bottom: 38px;
  }

  @include vp-767 {
    padding-top: 30px;
    padding-bottom: 38px;
  }

  .footer__main {
    display: flex;
    flex-wrap: wrap;

    .footer__logo {
      display: flex;
      align-items: center;
      margin-right: 255px;
      width: 109px;

      img {

        @include vp-767 {
          width: 90px;
          height: 15px;
        }
      }

      @include vp-1365 {
        margin-right: 43px;
        width: 99px;
      }

      @include vp-767 {
        width: 90px;
        height: 14px;
        margin: 0;
        margin-bottom: 28px;
      }

      @include hover {
        @media (hover: hover) {
          &:hover:not(.focus-visible) {
            opacity: 0.6;
          }
        }
      }
      @include focus {
        &.focus-visible:focus {
          outline: none;
          outline: 1px solid $color-default-white;
          outline-offset: 7px;
        }
      }
    }
  }

  a {
    margin-right: auto;
    color: $color-default-white;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    column-gap: 38px;
    align-items: center;

    @include vp-1365 {
      column-gap: 29px;
    }

    @include vp-767 {
      column-gap: 33px;
      row-gap: 16px;
      margin-bottom: 54px;
    }
  }

  .footer__socials {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    margin-left: auto;
    align-items: center;
    padding-top: 5px;

    @include vp-1365 {
      padding-top: 6px;
    }

    @include vp-767 {
      padding: 0;
      margin: 0 auto;
    }

    svg {
      background-color: $color-default-white;
      border-radius: 50%;
      width: 25px;
      height: 25px;
      padding: 5px;
      color: rgba(3, 10, 26, 1);

      @include hover-focus {
        @media (hover: hover) {
          &:hover:not(.focus-visible) {
            background-color: rgba(16, 58, 174, 1);
            color: $color-default-white;
          }
        }
      }

      @include active {
        &:active:not(.focus-visible) {
          color: $color-default-white;
          background-color: #102654;
        }
      }
    }

    a {
      &[disabled] {
        pointer-events: none;
        opacity: 0.6;
      }
    }
  }
}

.footer__nav {
  a {
    border: 1px solid transparent;
    font-size: 14px;
    line-height: 22px;

    @include hover {
      @media (hover: hover) {
        &:hover:not(.focus-visible) {
          padding-bottom: 10px;
          border-bottom: 1px solid $color-default-white;
        }
      }
    }

    @include active {
      &:active:not(.focus-visible) {
        border: 1px solid transparent;
      }
    }

    @include focus {
      &.focus-visible:focus {
        outline: none;
        outline: 1px solid $color-default-white;
        outline-offset: 10px;
      }
    }

    &[disabled] {
      pointer-events: none;
      opacity: 0.4;
    }
  }
}

