.header {
  background: linear-gradient(90deg, #1c3477 0%, #1c3477 0.01%, #1a3578 39.11%, #73184b 75.5%, #b4022a 100%);
}

.header__list {
  display: flex;
  justify-content: space-between;
  max-width: 1366px;
  padding-top: 31px;
  padding-bottom: 26px;
  margin: 0 auto;
  list-style: none;


  @include vp-1365 {
    max-width: 767px;
  }

  .header__logo {
    width: 120px;
    height: 26px;

    @include vp-1365 {
      width: 111px;
      height: 24px;
    }

    @include vp-767 {
      width: 102px;
      height: 22px;
    }
  }

  @include vp-767 {
    padding-bottom: 16px;
    padding-top: 16px;
  }


  .header__number a {
    color: $color-default-white;
    font-family: $ff-roboto;
    font-weight: 700;
    font-size: 26px;
    line-height: 26px;

    @include hover-focus {
      @media (hover: hover) {
        &:hover:not(.focus-visible) {
          color: rgba(28, 51, 116, 1);
        }
      }

      &.focus-visible:focus {
        outline: 2px solid $color-default-white;
        outline-offset: 10px;
      }
    }

    @include active {
      &:active:not(.focus-visible) {
        color: rgba(16, 38, 84, 1);
        border-bottom: 2px solid rgba(16, 38, 84, 1);
      }
    }

    &[disabled] {
      opacity: 0.5;
      pointer-events: none;
    }

    @include vp-1365 {
      font-size: 24px;
      line-height: 24px;
    }

    @include vp-767 {
      font-size: 22px;
      line-height: 22px;
    }
  }
}


