.reviews {
  padding: 114px 0 120px;

  .reviews-container {
    width: 720px;
    margin: 0 auto;
    position: relative;
    padding: 0 80px;
    overflow: hidden;
  }

  h2 {
    padding: 0;
    margin: 0;
    font-family: $ff-alumni;
    font-weight: 600;
    font-size: 54px;
    line-height: 54px;
    margin-bottom: 46px;
    letter-spacing: 0.1rem;
    color: #102654;
    text-align: center;
  }

  .reviews__mans {
    display: flex;
    padding-bottom: 0;
  }

  .reviews__man {
    padding: 59px;
    background-color: #1C3374;
    display: flex;
    width: 560px;
    min-height: 260px;
    overflow: hidden;
    column-gap: 30px;
  }

  .reviews__description {
    display: flex;
    flex-direction: column;
    width: 340px;
  }

  span {
    font-size: 22px;
    line-height: 22px;
    color: $color-default-white;
    margin-bottom: 21px;
  }

  p {
    color: $color-default-white;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    margin: 0;
  }
}


// Кнопки

.reviews-slider__arrow {
  position: absolute;
  width: 16px;
  height: 32px;
  top: 212px;
  left: 15px;
  z-index: 11;
  cursor: pointer;
  border: none;
  outline: 0;
  background: transparent;

  svg {
    color: #102654;
  }

  @include hover-focus {
    @media (hover: hover) {
      &:hover:not(.focus-visible) {
        &::before {
          position: absolute;
          content: "";
          width: 56px;
          height: 56px;
          border-radius: 50%;
          border: 1px solid #102654;
          top: -10px;
          left: -10px;
        }
      }

      &.focus-visible:focus {
        outline: none;
      }
    }

    @include active {
      &:active:not(.focus-visible) {
        svg {
          color: $color-default-white;
          z-index: 1;
        }

        &:before {
          background-color: #102654;
          z-index: -1;
        }
      }
    }
  }

  &[disabled] {
    svg {
      opacity: 0.3;
    }

    background-color: transparent;
    pointer-events: none;
  }
}

.reviews-slider__arrow--next {
  transform: rotate(180deg);
  left: 686px;
}

