.swiper h2 {
  padding: 0;
  margin: 0;
  font-family: $ff-alumni;
  font-weight: 600;
  font-size: 54px;
  line-height: 54px;
  margin-bottom: 45px;
  letter-spacing: 1.62px;
  color: #102654;

  @include vp-1365 {
    font-size: 42px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 38px;
    letter-spacing: 1.26px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 41px;
    letter-spacing: 0.96px;
  }
}

.swiper__block {
  position: relative;

  @include vp-1365 {
    padding-right: 100px;
    padding-left: 100px;
  }

  @include vp-767 {
    padding: 0 47px;
  }
}

.swiper-container {
  overflow: hidden;
}

.swiper-wrapper {
  padding-bottom: 120px;

  @include vp-1365 {
    padding-bottom: 99px;
  }

  @include vp-767 {
    padding-bottom: 70px;
  }
}

.swiper-slide {
  width: auto;
  overflow: hidden;

  @include hover-focus {
    @media (hover: hover) {
      &:hover:not(.focus-visible) {
        .swiper-slide__description {
          bottom: 0;
        }

        .swiper-slide__name {
          display: none;
        }
      }
    }

    &.focus-visible:focus {
      outline: 4px solid #ff1553;
      outline-offset: -4px;
    }
  }
}

.swiper-slide__image-name {
  display: block;

  @include vp-767 {
    width: 226px;
    margin: 0 auto;
  }

  picture {

    @include vp-767 {
      display: block;
      width: 226px;
      margin: 0 auto;
    }
  }

  img {

    @include vp-1365 {
      height: 294px;
    }

    @include vp-1365 {
      height: 274px;
      width: 226px;
      object-fit: cover;
    }
  }
}

.swiper-slide__name {
  color: $color-default-white;
  font-size: 22px;
  line-height: 22px;
  margin-top: -38px;
  display: flex;
  width: 260px;
  justify-content: center;

  @include vp-1365 {
    font-size: 20px;
    line-height: 20px;
    width: 268px;
  }

  @include vp-767 {
    width: 226px;
  }
}

.swiper-slide__description {
  position: absolute;
  bottom: -341px;
  left: 0;
  width: auto;
  height: 294px;
  padding: 45px 40px 50px;
  color: $color-default-white;
  background-color: #102654E3;
  transition: .5s;

  p {
    font-size: 22px;
    line-height: 22px;
    text-align: center;
    font-weight: 400;
    margin: 0;
    margin-bottom: 8px;
  }

  span {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    margin-bottom: 33px;
  }

  ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    margin-left: 8px;
  }

  li {
    font-size: 14px;
    line-height: 22px;
  }
}


// Кнопки

.swiper-slider__arrow--prev {
  position: absolute;
  width: 16px;
  height: 32px;
  top: 227px;
  left: 40px;
  z-index: 11;
  cursor: pointer;
  outline: 0;
  border: none;
  background: transparent;

  @include vp-1365 {
    top: 208px;
    left: 38px;
  }

  @include vp-767 {
    left: 25px;
    top: 197px;
  }

  svg {
    color: #102654;

    @include vp-767 {
      width: 10px;
      height: 19px;
    }
  }

  @include hover-focus {
    @media (hover: hover) {
      &:hover:not(.focus-visible) {
        &::before {
          position: absolute;
          content: "";
          width: 56px;
          height: 56px;
          border-radius: 50%;
          border: 1px solid #102654;
          top: -10px;
          left: -10px;
        }
      }

      &.focus-visible:focus {
        outline: none;
      }
    }

    @include active {
      &:active:not(.focus-visible) {
        svg {
          color: $color-default-white;
          z-index: 1;
        }

        &:before {
          background-color: #102654;
          z-index: -1;
        }
      }
    }
  }

  &[disabled] {
    svg {
      opacity: 0.3;
    }

    background-color: transparent;
    pointer-events: none;
  }
}

.swiper-slider__arrow--next {
  position: absolute;
  width: 16px;
  height: 32px;
  top: 227px;
  right: 40px;
  z-index: 11;
  cursor: pointer;
  outline: 0;
  border: none;
  background: transparent;
  transform: rotate(180deg);

  @include vp-1365 {
    top: 208px;
    right: 38px;
  }

  @include vp-767 {
    right: 25px;
    top: 197px;
  }

  svg {
    color: #102654;

    @include vp-767 {
      width: 10px;
      height: 19px;
    }
  }

  @include hover-focus {
    @media (hover: hover) {
      &:hover:not(.focus-visible) {
        &::before {
          position: absolute;
          content: "";
          width: 56px;
          height: 56px;
          border-radius: 50%;
          border: 1px solid #102654;
          top: -10px;
          right: -30px;
        }
      }

      &.focus-visible:focus {
        outline: none;
      }
    }

    @include active {
      &:active:not(.focus-visible) {
        svg {
          color: $color-default-white;
          z-index: 1;
        }

        &:before {
          background-color: #102654;
          z-index: -1;
        }
      }
    }
  }

  &[disabled] {
    svg {
      opacity: 0.3;
    }

    background-color: transparent;
    pointer-events: none;
  }
}
